<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanle.mybatis.mapper.UserMapper">
    <select id="queryUserById" resultType="com.yanle.mybatis.entity.User">
        select
        user.id as id,
        user.user_name as userName,
        user.password as password,
        user.name as name,
        user.age as age,
        user.birthday as birthday,
        user.created as created,
        user.updated as updated,
        from SELECT tb_user user
        where tb_user.id = #{id}
    </select>

    <select id="queryUserAll" resultType="com.yanle.mybatis.entity.User">
        select * from tb_user
    </select>

    <insert id="insertUser" parameterType="com.yanle.mybatis.entity.User">
        insert into tb_user(
            user_name,
            password,
            name,
            age,
            sex,
            birthday,
            created,
            updated
        ) values (
            #{userName},
            #{password},
            #{name},
            #{age},
            #{sex},
            #{birthday},
            now(),
            now()
        )
    </insert>

    <update id="updateUser" parameterType="com.yanle.mybatis.entity.User">
        update tb_user
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null">user_name = #{userName},</if>
            <if test="password!=null">password = #{password},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="age!=null">age=#{age},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="birthday!=null">birthday = #{birthday},</if>
            updated = now()
        </trim>
        where
        (id=#{id})
    </update>

    <delete id="deleteUser" >
        delete from tb_user where id=#{id}
    </delete>
</mapper>
