<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yanle.mybatis.mapper.UserMapper">
    <resultMap id="baseResultMap" type="com.yanle.mybatis.entity.User">
        <id column="id" property="id"/>
        <id column="user_name" property="userName"/>
        <id column="password" property="password"/>
        <id column="name" property="name"/>
        <id column="age" property="age"/>
        <id column="birthday" property="birthday"/>
        <id column="sex" property="sex"/>
        <id column="updated" property="updated"/>
        <id column="created" property="created"/>
    </resultMap>

    <select id="queryUserById" resultType="com.yanle.mybatis.entity.User">
        select
        id as id,
        user_name as userName,
        password as password,
        name as name,
        age as age,
        birthday as birthday,
        created as created,
        updated as updated
        from tb_user
        where id = #{id}
    </select>

    <select id="queryUserAll" resultType="com.yanle.mybatis.entity.User">
        select * from tb_user
    </select>

    <insert id="insertUser" parameterType="com.yanle.mybatis.entity.User">
        insert into tb_user(
            user_name,
            password,
            name,
            age,
            sex,
            birthday,
            created,
            updated
        ) values (
            #{userName},
            #{password},
            #{name},
            #{age},
            #{sex},
            #{birthday},
            now(),
            now()
        )
    </insert>

    <update id="updateUser" parameterType="com.yanle.mybatis.entity.User">
        update tb_user
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null">user_name = #{userName},</if>
            <if test="password!=null">password = #{password},</if>
            <if test="name!=null">name=#{name},</if>
            <if test="age!=null">age=#{age},</if>
            <if test="sex!=null">sex=#{sex},</if>
            <if test="birthday!=null">birthday = #{birthday},</if>
            updated = now()
        </trim>
        where
        (id=#{id})
    </update>

    <delete id="deleteUser">
        delete from tb_user where id=#{id}
    </delete>
</mapper>
